@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.main{
    max-width: 20rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    padding: 1rem;
    
}
img{
    border-radius: 5%;
    max-width: 100%;
}

.attribution{
    font-size: 11px; text-align: center; 
}

.attribution a{
    color: hsl(228, 45%, 44%); 
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    color: hsl(218, 44%, 22%);
}

p{
    color: hsl(212, 15%, 55%);
    font-size: 0.9375rem;
    font-weight: 400;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

@media(min-width: 500px){
    .contenedor{
        width: 400px;
    }
}